/* website is at: https://hughmaw.github.io/Heath-Track-App-code-pen/ --> settings --> pages --> top */
.container{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 20px;  
}

body { 
    background-color: #f5f7fa;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

.header-box {
    background-color: white;
    border: 4px solid #E5F3FD;
    border-top: none;
    border-radius: 0 0 20px 20px; 
    padding: 30px;
    margin: 0 0 30px 0;  /* top right bottom left - cleaner than two margin lines */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-title {
    font-family: Helvetica, sans-serif;
    font-size: 36px;
    color: black;
    font-weight: 600;
    margin: 0;
}

.current-date {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: #667589;
    margin: 0;
}

.back-button {
    font-size: 16px;
    cursor: pointer;
}

.back-button svg {
    width: 20px;
    height: 20px;
}

.box {
  width: 240px;        /* box width */
  height: 240px;       /* box height */
  background-color: white;  /* box color */
  border-radius: 20px; /* ROUND CORNERS */
  border: 4px dashed #E5F3FD;
  position: sticky;
  cursor: pointer; /* react when cursor is on it */
  
}